{% extends 'app\base.html'%}
{% load static %}
{% block content %}



<Link rel="stylesheet" href="base.html/base.css"/>
         
<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
        <a class="navbar-brand page-scroll" href="#">Manas</a> 
     </div>
      <div class="collapse navbar-collapse" id="myNav">
        <ul class=" nav navbar-nav pull-right">
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
          <li><a href="#contact" class="page-scroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <section class="banner">
    <div class="container">
      <h3>Hiraya</h3>
      <p>Memories. <br/> </p>
    </div>
  </section>
  
  <div class="abt" id="about">
  <div class="jumbotron">
    <div class="container">
      <h3>My Life </h3>
      <hr></hr>
      <p>“Learn from yesterday. Live for today. Hope for tomorrow.” </p>
      
    <a href="#portfolio" class="btn btn-default">Get Started!</a>
    </div> 
  </div>
  </div>
  <!--End ofAbout-->
  
  <!--PortFolio-->
  
  <div class="no-padding text-center" id="portfolio">
   <div class="container">
     <h1>Portfolio</h1>
      <hr></hr>
    </div>
   
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class=" col-6 col-lg-4 col-sm-6">
          <img src="https://i.pinimg.com/enabled/564x/b9/a7/18/b9a718df45a15a40810da7b3c7e8cd07.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
        </div>
        <div class="col-6 col-lg-4 col-sm-6">
           <img src="https://i.pinimg.com/736x/e1/38/7f/e1387f2f63cda9ce63f84c89e2143cea.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
        </div>
        <div class="col-6 col-lg-4 col-sm-6">
           <img src="https://i.pinimg.com/736x/67/05/3e/67053e0e8259f7df5cc9be4d7251ac7c.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
        </div>
      </div>
      
      <div class="row no-gutter">
        <div class=" col-6 col-lg-4 col-sm-6">
          <img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t1.15752-9/459318098_1507590119897891_558013725153570383_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeHKwIZzicUW-TD_jg2vqQyW11Tj41RAPDvXVOPjVEA8Oyc4PGHSjT-nvZfW1pPA8bTKe820Lvevq2udsI2IpjA8&_nc_ohc=31WThpazRRoQ7kNvgGeGM1C&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AiiyH230zr6r9DFJyizEKRN&oh=03_Q7cD1QHp_dTxFo2HB7Z7SBJITOeWebKWLkblSk814BJcQzsP4Q&oe=67319AB3" alt="Project-1" width="100%" height="auto">
        </div>
        <div class="col-6 col-lg-4 col-sm-6">
           <img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t1.15752-9/428236736_848892726991472_4540670462979411056_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeHyf49ykqf1smDttc7q4s2Ss07SdZlFs5qzTtJ1mUWzmmrXXCHLfXcgZJFJMnZLTaMLnBK1SlzCvkfKs-Y9qMZA&_nc_ohc=2VvNDcXRXUcQ7kNvgHGOLjy&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AklZ3gvLzYf5OiVLqg0hJCg&oh=03_Q7cD1QEHS9OpyEk97ilgu1QqMaymXYDFzzx9T_tpqaA3wOJOuQ&oe=6731CB9A" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
        </div>
        <div class="col-6 col-lg-4 col-sm-6">
           <img src="https://scontent.fmnl3-3.fna.fbcdn.net/v/t1.15752-9/462536677_1079042477261406_8722854299325793160_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeGLQFjW5QDTR44kms7jqUtQEpqR-aEUfy0SmpH5oRR_Lc156m-GH7JC8SRPLJDkYywmmN4BbqKgM_nQInE8WmCk&_nc_ohc=asfN_6CWOtsQ7kNvgGg3co-&_nc_ht=scontent.fmnl3-3.fna&_nc_gid=AiiyH230zr6r9DFJyizEKRN&oh=03_Q7cD1QF-umJvZCT0xkJ-KkkL8EeF9bfrqq7b_UFAHC6mwHh6yQ&oe=6731CB9C" alt="Project-1" width="100%" height="auto">
        </div>
      </div>
    </div>
  </div>
  <!--End of Portfolio-->
  
    
{% endblock content %}